name: Build and Release

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout webui branch
        uses: actions/checkout@v4
        with:
          ref: webui

      - name: Build webui branch
        run: |
           npm install
           npm run build

      - name: Copy dist folder to a temporary location
        run: |
          cp -r dist/ ../dist-temp/

      - name: Checkout v1.5.2+ branch
        uses: actions/checkout@v4
        with:
          ref: v1.5.2+

      - name: Remove old contents from webroot folder
        run: |
          rm -rf webroot/*

      - name: Copy contents from dist-temp to webroot
        run: |
          cp -r ../dist-temp/* webroot/

      - name: Upload release artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-v1.5.2+
          path: ${{ github.workspace }}
          exclude: |
            **/.git/**
            **/.github/**